.resumeRightCol {
	background: #d6d6f3;
	color: black;
	padding: 2em;
}
.resumeGrid img {
	height: 200px;
	/* border-radius: 50%; */
}
.download {
	text-decoration: none;
	border: 1px solid grey;
	color: black;
	padding: 10px;
	background-color: #9393c9;
}
@media (max-width: 500px) {
	.resumeRightCol {
		margin-top: 40px !important;
	}
	.download {
		margin-left: 25%;
		text-align: center;
	}
}
